html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Spartan", sans-serif;
    font-size: 15px;
    min-height: 100vh;

    padding: 32px 11.389vw 0;

    background-image: url(./images/bg-pattern-top-desktop.svg), url(./images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1110px;
}

/* ------ */
/* Styles */
/* ------ */

/* ********** .top ********** */
/* ************************** */

.top__text {
    h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        letter-spacing: -1.71429px;
        color: #512051;
    }

    p {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        letter-spacing: -0.5px;
        color: #927b91;
    }
}

.top__c-stars {
    background: #f7f2f7;
    border-radius: 8px;

    p {
        font-style: normal;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        color: #512051;
    }
}

/* ********** .bottom ********** */
/* ***************************** */

.bottom__cards {
    background: #512051;
    border-radius: 8px;
    padding: 40px 30px 37px;
    max-width: 350px;
}

.bottom__top {
    display: flex;
    align-items: center;
    margin-bottom: 28px;

    img {
        border-radius: 50%;
        width: 40px;
    }
}

.bottom__person {
    margin-left: 24px;
}

.bottom__name {
    font-style: normal;
    font-weight: bold;
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    margin-bottom: 6px;
}

.bottom__position {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #ee69a4;
}

.bottom__text {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    letter-spacing: -0.232143px;
    color: #ffffff;
}

/* -------------- */
/* Desktop Design */
/* -------------- */

/* ********** .top ********** */
/* ************************** */

.top {
    display: flex;
    justify-content: space-between;

    align-items: center;
    margin-bottom: 72px;
}

.top__text {
    max-width: 450px;

    h1 {
        margin-bottom: 12px;
    }
}

.top__rated {
    width: 540px;
    display: grid;
}

.top__c-stars + .top__c-stars {
    margin-top: 16px;
}

.top__c-stars {
    padding: 20px 0;
    width: 445px;
    display: flex;
    align-items: center;

    .top__stars {
        margin-left: 31px;
    }

    p {
        margin-left: 33px;
    }

    &:nth-child(2) {
        justify-self: center;
    }

    &:nth-child(3) {
        justify-self: end;
    }
}

/* ********** .bottom ********** */
/* ***************************** */

.bottom {
    display: flex;
    align-items: flex-start;
    gap: 2.0833vw;
    min-height: 266px;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 1441px) {
    .bottom {
        gap: 30px;
    }
}

.bottom__cards {
    &:nth-child(2) {
        align-self: center;
    }

    &:nth-child(3) {
        align-self: flex-end;
    }
}

/* ------ */
/* Medias */
/* -------*/

@media (max-width: 1437px) {
    body {
        padding-top: 11.389vw;
    }
}

@media (max-width: 1180px) {
    .top {
        flex-direction: column;
        
    }

    .top__text {
        text-align: center;
        margin-bottom: 62px;

        h1 {
            margin-bottom: 25px;
        }
    }
}

@media (max-width: 768px) {
    .top__rated {
        width: 100%;
    }

    .top__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
            max-width: 320px;
        }
    }
}

@media (max-width: 550px) {
    .container {
        
        padding: 34px 24px 0;
    }

    .top {
       margin-bottom: 50px;
    }

    .top__text {
        margin-bottom: 40px;

        h1 {
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            line-height: 32px;
            letter-spacing: -1.14286px;
            color: #512051;
            margin-bottom: 22px;
        }

       
    }

    .top__c-stars {
        flex-direction: column;
        padding: 16px 0;
        min-width: 326px;
        width: 100%;

        .top__stars {
            margin: 0;
            margin-bottom: 12px;
        }

        p {
            margin: 0;
        }
    }

    .bottom {
        gap: 16px;
        margin-bottom: 55px;
    }
}
